.avatarWrapped {
  display: flex;
  height: 200px;
  width: 200px;
  background: #e7f0fe;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.badge {
  display: flex;
  position: absolute;
  top: 6px;
  left: 134px;
  background: linear-gradient(rgba(110, 203, 140, 1), rgba(0, 86, 179, 1));
  transform: rotate(41deg);
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  width: 85px;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  gap: 8px;
}

.tg {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  padding: 8px 12px;
  background: #e7f0fe;
  color: #0056B3;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
}

.input {
  height: 19px;
  width: 605px;
  border: none;
  outline: none;
  background: #f5f7fa;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
}

input::placeholder {
  font-weight: 500;
}

.data {
  display: grid;
  gap: 12px;
}

.userContainer {
  display: grid;
  gap: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: "Roboto" sans-serif;
  overflow: hidden;
}

.container p {
  margin: 0;
}
