.input {
  font-family: "Roboto", sans-serif;
  width: 848px;
  height: 120px;
  resize: none;
  padding: 16px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #f5f7fa;
}

.input::placeholder {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  gap: 16px;
}
